body {
    height: 100%;
    margin: 20px 10px 40px 10px;
}
.content{
    width: 1200px;
}
.horizontal{
    margin: 0 0 10px 60px;
}
.vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    float: left;
    margin: 20px 0;
    position: absolute;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 40px;
}
.clearfix {
    display: flex;
    align-items: center;
}
.header-cell, .row-number {
    height: 14px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 10px;
    color: #000;
}
.header-cell, .square {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    text-align: center;
    line-height: 14px;
    margin: 1px;
}
.header-cell {
    border: none;
}
.row-number {width: 14px; margin: 0 2px;}

.header-row {
    display: flex;
    align-items: center;
}
.oracul{
    position: relative;
}
.oracul input{
    width: 100%;
}
.highlight {
    background-color: #f00;
    color: #f00;
    border-color: #f00;
}